<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>DieCast Car Models</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${carmodels}" class="container my-5">
                <p class="my-5">
                    <a href="/add" class="btn btn-primary">
                        <i class="fas fa-user-plus ml-2"> Add new Model </i></a>
                </p>
                <div class="col-md-10">
                    <h2 th:case="null">No record found !!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Manufacturer</th>
                                <th>Car Model</th>
                                <th>Car Year</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="carmodels : ${carmodels}">
                                <td th:text="${carmodels.manufacturer}"></td>
                                <td th:text="${carmodels.carModel}"></td>
                                <td th:text="${carmodels.carYear}"></td>
                                <td>
                                    <a th:href="@{/edit/{id}(id=${carmodels.id})}"
                                       class="btn btn-primary">
                                        <i class="fas fa-user-edit ml-2"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="#"
                                       class="btn btn-primary delete-btn"
                                       id="deleteButton"
                                       th:data-my-value="${carmodels.id}">
                                        <i class="fas fa-user-times ml-2"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this record?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirmDelete">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Include jQuery Slim -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<!-- Include Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!--This script ensures that the delete button functionality only executes once the document is fully loaded-->
<script>
    $(document).ready(function () {

        // Attaching a click event handler to all elements with the class 'delete-btn'
        $('.delete-btn').click(function () {

            // Retrieving the value of the 'data-my-value' attribute from the clicked element
            var id = $(this).data('my-value');

            // Displaying the confirmation modal
            $('#confirmationModal').modal('show');

            // Attaching a click event handler to the confirmation button within the modal
            $('#confirmDelete').click(function () {

                // Redirecting the user to the delete endpoint with the corresponding id
                window.location.href = '/delete/' + id;
            });
        });
    });
</script>

</body>

</html>